@charset "UTF-8";
#myname h7 {
    color: white;
    font-size: 30px;
    border-bottom: 4px solid #FFF;
    margin-left: 25%;
    text-align: left;
}

#myname h6 {
    padding-left: 23px;
    margin-top: -1.3%;
    font-size: 55px;
    position: absolute;
    color: white;
}

#myname {
    padding-left: 4%;
    margin-top: 2%;
    position: absolute;
    font-family: Century Gothic, sans-serif;
}

#name1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
    font-family: "Trebuchet MS";
    font-size: 45px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.8)
}

#content a {
    text-decoration: none
}

#content a:hover {
    color: orangered
}

#title h7 {
    font-family: Century Gothic, sans-serif;
    font-size: 30px;
    color: white;
    align-self: center;
    border-bottom: 4px solid #FFF;
    padding-bottom: 5px
}

#title h8 {
    font-family: Century Gothic, sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 3px solid #FFF;
    padding-bottom: 5px;
    margin-left: 3%;
    margin-right: 3%
}

#title p a {
    color: orange;
}

#my {
    position: absolute;
    transform: translateX(20%) translateY(-10%);
    font-size: 40px;
}

#cs {
    position: relative;
    float: left;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-family: Century Gothic, sans-serif;
    width: 40%;
    padding: 10px;
    margin-left: 6%;
    line-height: 1.6;
    background-color: rgba(255, 138, 33, 1);
}

#gd {
    position: relative;
    float: right;
    margin-right: 6%;
    width: 40%;
    padding: 5px;
    color: white;
    font-style: normal;
    font-size: 20px;
    font-family: Century Gothic, sans-serif;
    line-height: 1.9;
    background-color: rgba(255, 138, 33, 1);
}

#cs li {
    margin-top: 2%;
}

#gd li {
    margin-top: 2%
}

#cs h7 {
    color: white;
    margin-left: 10px;
    font-style: normal;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    border-bottom: 4px solid #FFF;
    padding-bottom: 6px
}

#gd h7 {
    color: white;
    margin-left: 10px;
    font-style: normal;
    font-size: 25px;
    font-family: Tahoma, Geneva, sans-serif;
    border-bottom: 4px solid #FFF;
    padding-bottom: 6px
}

#gd a {
    color: black;
    text-decoration: none;
}

#text h7 {
    position: relative;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    width: 99%;
    color: rgb(188, 211, 193)
}

#volunteer p {
    color: black;
    margin-top: -5px;
    margin-left: 4%;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.7;
    font-family: Century Gothic, sans-serif;
}

#content2 h8 a:hover {
    color: orangered
}

#contactimg img {
    margin-left: 4%
}

#b {
    display: block;
    margin: 20px 0;
    line-height: 40;
}

#myDiv {
    display: none;
    text-align: center;
}

nav.shift ul li a {
    z-index: 1;
    position: relative;
}

nav.shift ul li a:hover {
    color: black;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: orange;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav.shift2 ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav.shift2 ul li a {
    z-index: 1;
    position: relative;
}

nav.shift2 ul li a:hover {
    color: white;
}

nav.shift2 ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: forestgreen;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift2 ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav.shift1 ul li a {
    z-index: 1;
    position: relative;
}

nav.shift1 ul li a:hover {
    color: black;
}

nav.shift1 ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgb(177, 208, 228);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift1 ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav.shift3 ul li a {
    z-index: 1;
    position: relative;
}

nav.shift3 ul li a:hover {
    color: rgb(188, 212, 196);
}

nav.shift3 ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgb(73, 77, 53);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift3 ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav {
    transform: translateX(55%) translateY(0%);
    position: absolute;
    margin-top: 2.5%;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    border-bottom: 3px solid #FFF;
    padding-bottom: 6px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    color: white;
    font-size: 21px;
    font-family: Century Gothic, sans-serif;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

.hideme {
    opacity: 0;
}